nc-code-editor/node_modules/.cache/
nc-code-editor/node_modules/.cache/.eslintcache
pythonAPI/venv/
pythonAPI/*.html
pythonAPI/__pycache__/
pythonAPI/finalized_backend/__pycache__/
/pythonAPI/finalized_backend/__pycache__
pythonAPI/flaskapp/
pythonAPI/csv_list